*{
    font-family: Trebuchet MS;
    line-height: 1.5;
    padding-top: 5px;
}
section{
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 2rem;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
    background-color: cornsilk;
}
nav a{
    text-decoration:none;
    color: aqua;
    font-weight: 400;
    padding: 10px;
}
.logo h1{
    color: white;
    font-weight: 900;
}
.navbar{
    text-align: center;
    background-color:rgb(5, 79, 104);
    padding: 10px;
    width: 100%;
}
h1,h2{
    font-family: Gill Sans;
    font-weight: 700;
    color: #032B44;
}
input{
    width: 50%;
    height: 20px;
}
form{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}
form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
}

button{
    color: white;
    background-color:black ;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.gender{
    display: flex;
}
footer{
    background-color: grey;
    padding: 0 2px 2px 5px;
    justify-content: space-between;
    font-size: 13px;
}
.left{
    text-align: left;
    padding: 10px 30px 10px 5px;
    margin-bottom: 5px;
}
.right{
    text-align: right;
    position: relative;
    right: 50px;
    top: 2px;
}
.middle{
    padding: 0 30px;
}
.center{
    text-align: center;
}
.copyright{
    text-align: center;
    width: 100%;
}
footer article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.right a img{
    margin-right: 10px;
}
.center nav a{
    margin-right: 20px;
    border-bottom: 1px solid rgb(2, 58, 2);
}
.lmr{
    display: flex;
    padding: 10px 30px 10px 5px;
}
@media only screen and (max-width: 768px) {
.vid video{
    width: 79%;
}
.middle{
    display: none;
}
.right a{
    display: block;
}
.logo h1{
    font-size: larger;
}
.h h1{
    font-size: larger;
}
    }






